    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 10px;
      border-radius: 5px;
      background: green;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      margin: 1rem;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      background: #000000;
      cursor: pointer;
    }

    body {
      padding: 1rem;
    }

    .title {
      text-align: center;
    }

    .recordbutton {
      border-radius: 100%;
      background-color: green;
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      margin: 1rem;
      border-width: 5px;
      border-color: black;
      display: block;
      width: 50px;
      height: 50px;
    }

    .ui.button {
      margin-bottom: 0.5rem;
    }
