<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <link rel="stylesheet" href="static/css/annotate.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <script src="https://raw.githubusercontent.com/mattdiamond/Recorderjs/master/dist/recorder.js"></script>
    <script src="static/js/annotate.js"></script>
    <title>Annotate</title>
  </head>
  <body>
    <div class="ui two column centered grid">
      <div class="column">
        <input class="slider" type="range" min="0" max="3" value="0" onchange="changeRange(this)">

        <div class="title">Crisis Development Model - level</div>
      </div>
    </div>
    <div class="ui grid">
      <div class="three column row">
        <div class="column">
          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title">
                <i class="dropdown icon"></i>
                Location
              </a>
              <div id="locatie" class="active content">
                <button class="ui button " value="0" id="E-01-02-01" onclick="change(this)">Livingroom</button>
                <button class="ui button " value="0" id="E-01-02-02" onclick="change(this)">Hallway</button>
                <button class="ui button " value="0" id="E-01-02-03" onclick="change(this)">Oudside</button>
                <button class="ui button " value="0" id="E-01-02-04" onclick="change(this)">Bedroom</button>
                <button class="ui button " value="0" id="E-01-02-05" onclick="change(this)">Bathroom</button>
                <button class="ui button " value="0" id="E-01-02-06" onclick="change(this)">Stairs</button>
                <button class="ui button " value="0" id="E-XX-XX-XX" onclick="change(this)">Other</button>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title">
                <i class="dropdown icon"></i>
                Status
              </a>
              <div id="actie" class="active content">
                <button class="ui button " value="0" id="P-00-XX-01" onclick="change(this)">Sitting</button>
                <button class="ui button " value="0" id="P-00-XX-02" onclick="change(this)">Standing</button>
                <button class="ui button " value="0" id="P-00-XX-03" onclick="change(this)">Lying</button>
                <button class="ui button " value="0" id="P-00-XX-04" onclick="change(this)">Walking</button>
                <button class="ui button " value="0" id="P-00-XX-05" onclick="change(this)">Sleeping</button>
                <button class="ui button " value="0" id="P-00-XX-06" onclick="change(this)">Dozing</button>
                <button class="ui button " value="0" id="P-XX-XX-XX" onclick="change(this)">Other</button>
              </div>
            </div>
          </div>


        </div>

        <div class="column">

          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title">
                <i class="dropdown icon"></i>
                Activity (ADL)
              </a>
              <div id="activiteit" class="active content">
                <button class="ui button " value="0" id="I-01-XX-01" onclick="change(this)">Using object</button>
                <button class="ui button " value="0" id="I-01-XX-02" onclick="change(this)">Eating</button>
                <button class="ui button " value="0" id="I-01-XX-03" onclick="change(this)">Drinking</button>
                <button class="ui button " value="0" id="I-01-XX-04" onclick="change(this)">Social interaction</button>
                <button class="ui button " value="0" id="I-01-XX-05" onclick="change(this)">Nursing</button>
                <button class="ui button " value="0" id="I-01-XX-06" onclick="change(this)">Toileting</button>
                <button class="ui button " value="0" id="I-01-XX-07" onclick="change(this)">Showering</button>
                <button class="ui button " value="0" id="I-XX-XX-XX" onclick="change(this)">Other</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="three column row" style="margin-top:0.5rem;">

        <div class="column">

          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title">
                <i class="dropdown icon"></i>
                Sound
              </a>
              <div id="geluid" class="active content">
                <button class="ui button" value="0" id="P-01-XX-01" onclick="change(this)">Shouting</button>
                <button class="ui button" value="0" id="P-01-XX-02" onclick="change(this)">Laughing</button>
                <button class="ui button" value="0" id="P-01-XX-03" onclick="change(this)">Singing</button>
                <button class="ui button" value="0" id="P-01-XX-04" onclick="change(this)">Crying</button>
                <button class="ui button" value="0" id="P-01-XX-05" onclick="change(this)">Repetitive</button>
                <button class="ui button" value="0" id="P-XX-XX-XX" onclick="change(this)">Other</button>
            
              </div>
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title">
                <i class="dropdown icon"></i>
                Movement
              </a>
              <div id="beweging" class="active content">
                <button class="ui button" value="0" id="P-01-XX-06" onclick="change(this)">Clapping</button>
                <button class="ui button" value="0" id="P-01-XX-07" onclick="change(this)">Rubbing</button>
                <button class="ui button" value="0" id="P-01-XX-08" onclick="change(this)">Tapping</button>
                <button class="ui button" value="0" id="P-01-XX-09" onclick="change(this)">Swinging</button>
                <button class="ui button" value="0" id="P-01-XX-10" onclick="change(this)">Dressing/undressing</button>
                <button class="ui button" value="0" id="P-01-XX-11" onclick="change(this)">Beating</button>
                <button class="ui button" value="0" id="P-01-XX-12" onclick="change(this)">Pushing</button>
                <button class="ui button" value="0" id="P-01-XX-13" onclick="change(this)">Kicking</button>
                <button class="ui button" value="0" id="P-01-XX-14" onclick="change(this)">Shaking</button>
                <button class="ui button" value="0" id="P-01-XX-15" onclick="change(this)">Picking</button>
                <button class="ui button" value="0" id="P-XX-XX-XX" onclick="change(this)">Other</button>
              </div>
            </div>
          </div>
        </div>

        <div class="column">

          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title">
                <i class="dropdown icon"></i>
                Events
              </a>
              <div id="gebeurtenis" class="active content">
                <button class="ui button" value="0" id="E-03-XX-01" onclick="change(this)">Someone enters</button>
                <button class="ui button" value="0" id="E-03-XX-02" onclick="change(this)">Someone leaves</button>
                <button class="ui button" value="0" id="E-03-01-01" onclick="change(this)">Radio on</button>
                <button class="ui button" value="0" id="E-03-01-02" onclick="change(this)">Radio off</button>
                <button class="ui button" value="0" id="E-03-02-01" onclick="change(this)">Tv on</button>
                <button class="ui button" value="0" id="E-03-02-02" onclick="change(this)">Tv off</button>
                <button class="ui button" value="0" id="E-03-02-01" onclick="change(this)">Loud noise</button>
                <button class="ui button" value="0" id="E-03-XX-03" onclick="change(this)">Changing behaviour (someone else)</button>
                <button class="ui button" value="0" id="E-XX-XX-XX" onclick="change(this)">Other</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="recordbutton" style="background-color: green;" onclick="record(this)"></button>
  </body>
</html>