<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <link rel="stylesheet" href="static/css/annotate.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <script src="static/js/annotate.js"></script>
    <title>Annotate</title>
  </head>
  <body>
    <div class="ui two column centered grid">
      <div class="column">
        <input id="com" class="slider" type="range" min="0" max="3" value="0">
        <div class="title">Crisis Ontwikkeling Model - niveau</div>
      </div>
    </div>
    <div class="ui grid">
      <div class="three column row">
        <div class="column">
          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title">
                <i class="dropdown icon"></i>
                Locatie
              </a>
              <div id="locatie" class="active content">
                <button type="button" class="ui button" data-item="E-01-02-01">Woonkamer</button>
                <button type="button" class="ui button" data-item="E-01-02-02">Gang</button>
                <button type="button" class="ui button" data-item="E-01-02-03">Buiten</button>
                <button type="button" class="ui button" data-item="E-01-02-04">Slaapkamer</button>
                <button type="button" class="ui button" data-item="E-01-02-05">Badkamer</button>
                <button type="button" class="ui button" data-item="E-01-02-06">Trap</button>
                <button type="button" class="ui button" data-item="E-XX-XX-XX">Anders</button>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title">
                <i class="dropdown icon"></i>
                Staat
              </a>
              <div id="actie" class="active content">
                <button type="button" class="ui button" data-item="P-00-XX-01">Zitten</button>
                <button type="button" class="ui button" data-item="P-00-XX-02">Staan</button>
                <button type="button" class="ui button" data-item="P-00-XX-03">Liggen</button>
                <button type="button" class="ui button" data-item="P-00-XX-04">Lopen</button>
                <button type="button" class="ui button" data-item="P-00-XX-05">Slapen</button>
                <button type="button" class="ui button" data-item="P-00-XX-06">Dommelen</button>
                <button type="button" class="ui button" data-item="P-XX-XX-XX">Anders</button>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title">
                <i class="dropdown icon"></i>
                Activiteit (ADL)
              </a>
              <div id="activiteit" class="active content">
                <button type="button" class="ui button" data-item="I-01-XX-01">Object gebruiken</button>
                <button type="button" class="ui button" data-item="I-01-XX-02">Eten</button>
                <button type="button" class="ui button" data-item="I-01-XX-03">Drinken</button>
                <button type="button" class="ui button" data-item="I-01-XX-04">Sociale interactie</button>
                <button type="button" class="ui button" data-item="I-01-XX-05">Verzorging</button>
                <button type="button" class="ui button" data-item="I-01-XX-06">Toiletgang</button>
                <button type="button" class="ui button" data-item="I-01-XX-07">Douchen</button>
                <button type="button" class="ui button" data-item="I-XX-XX-XX">Anders</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="three column row">
        <div class="column">
          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title"><i class="dropdown icon"></i>Geluid</a>
              <div id="geluid" class="active content">
                <button type="button" class="ui button" data-item="P-01-XX-01">Schreeuwen</button>
                <button type="button" class="ui button" data-item="P-01-XX-02">Lachen</button>
                <button type="button" class="ui button" data-item="P-01-XX-03">Zingen</button>
                <button type="button" class="ui button" data-item="P-01-XX-04">Huilen</button>
                <button type="button" class="ui button" data-item="P-01-XX-05">Repetitie</button>
                <button type="button" class="ui button" data-item="P-XX-XX-XX">Anders</button>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title"><i class="dropdown icon"></i>Beweging</a>
              <div id="beweging" class="active content">
                <button type="button" class="ui button" data-item="P-01-XX-06">Klappen</button>
                <button type="button" class="ui button" data-item="P-01-XX-07">Wrijven</button>
                <button type="button" class="ui button" data-item="P-01-XX-08">Tikken</button>
                <button type="button" class="ui button" data-item="P-01-XX-09">Schommelen</button>
                <button type="button" class="ui button" data-item="P-01-XX-10">Aan/uitkleden</button>
                <button type="button" class="ui button" data-item="P-01-XX-11">Slaan</button>
                <button type="button" class="ui button" data-item="P-01-XX-12">Duwen</button>
                <button type="button" class="ui button" data-item="P-01-XX-13">Schoppen</button>
                <button type="button" class="ui button" data-item="P-01-XX-14">Schudden</button>
                <button type="button" class="ui button" data-item="P-01-XX-15">Plukken</button>
                <button type="button" class="ui button" data-item="P-XX-XX-XX">Anders</button>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title"><i class="dropdown icon"></i>Gebeurtenis</a>
              <div id="gebeurtenis" class="active content">
                <button type="button" class="ui button" data-item="E-03-XX-01">Iemand komt binnen</button>
                <button type="button" class="ui button" data-item="E-03-XX-02">Iemand gaat weg</button>
                <button type="button" class="ui button" data-item="E-03-01-01">Radio aan</button>
                <button type="button" class="ui button" data-item="E-03-01-02">Radio uit</button>
                <button type="button" class="ui button" data-item="E-03-02-01">Tv aan</button>
                <button type="button" class="ui button" data-item="E-03-02-02">Tv uit</button>
                <button type="button" class="ui button" data-item="E-03-02-03">Hard geluid</button>
                <button type="button" class="ui button" data-item="E-03-XX-03">Gedrag medebewoner veranderd</button>
                <button type="button" class="ui button" data-item="E-XX-XX-XX">Anders</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button id="recordbutton" type="button" class="recordbutton">REC</button>
  </body>
</html>
