<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <link rel="stylesheet" href="static/css/annotate.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <script src="static/js/annotate.js"></script>
    <title>Annotate</title>
  </head>
  <body>
    <div class="ui two column centered grid">
      <div class="column">
        <input id="com" class="slider" type="range" min="0" max="3" value="0">
        <div class="title">Crisis Development Model - level</div>
      </div>
    </div>
    <div class="ui grid">
      <div class="three column row">
        <div class="column">
          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title">
                <i class="dropdown icon"></i>
                Location
              </a>
              <div id="locatie" class="active content">
                <button type="button" class="ui button " data-item="E-01-02-01">Livingroom</button>
                <button type="button" class="ui button " data-item="E-01-02-02">Hallway</button>
                <button type="button" class="ui button " data-item="E-01-02-03">Oudside</button>
                <button type="button" class="ui button " data-item="E-01-02-04">Bedroom</button>
                <button type="button" class="ui button " data-item="E-01-02-05">Bathroom</button>
                <button type="button" class="ui button " data-item="E-01-02-06">Stairs</button>
                <button type="button" class="ui button " data-item="E-XX-XX-XX">Other</button>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title">
                <i class="dropdown icon"></i>
                Status
              </a>
              <div id="actie" class="active content">
                <button type="button" class="ui button " data-item="P-00-XX-01">Sitting</button>
                <button type="button" class="ui button " data-item="P-00-XX-02">Standing</button>
                <button type="button" class="ui button " data-item="P-00-XX-03">Lying</button>
                <button type="button" class="ui button " data-item="P-00-XX-04">Walking</button>
                <button type="button" class="ui button " data-item="P-00-XX-05">Sleeping</button>
                <button type="button" class="ui button " data-item="P-00-XX-06">Dozing</button>
                <button type="button" class="ui button " data-item="P-XX-XX-XX">Other</button>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title">
                <i class="dropdown icon"></i>
                Activity (ADL)
              </a>
              <div id="activiteit" class="active content">
                <button type="button" class="ui button " data-item="I-01-XX-01">Using object</button>
                <button type="button" class="ui button " data-item="I-01-XX-02">Eating</button>
                <button type="button" class="ui button " data-item="I-01-XX-03">Drinking</button>
                <button type="button" class="ui button " data-item="I-01-XX-04">Social interaction</button>
                <button type="button" class="ui button " data-item="I-01-XX-05">Nursing</button>
                <button type="button" class="ui button " data-item="I-01-XX-06">Toileting</button>
                <button type="button" class="ui button " data-item="I-01-XX-07">Showering</button>
                <button type="button" class="ui button " data-item="I-XX-XX-XX">Other</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="three column row">
        <div class="column">
          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title">
                <i class="dropdown icon"></i>
                Sound
              </a>
              <div id="geluid" class="active content">
                <button type="button" class="ui button" data-item="P-01-XX-01">Shouting</button>
                <button type="button" class="ui button" data-item="P-01-XX-02">Laughing</button>
                <button type="button" class="ui button" data-item="P-01-XX-03">Singing</button>
                <button type="button" class="ui button" data-item="P-01-XX-04">Crying</button>
                <button type="button" class="ui button" data-item="P-01-XX-05">Repetitive</button>
                <button type="button" class="ui button" data-item="P-XX-XX-XX">Other</button>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title">
                <i class="dropdown icon"></i>
                Movement
              </a>
              <div id="beweging" class="active content">
                <button type="button" class="ui button" data-item="P-01-XX-06">Clapping</button>
                <button type="button" class="ui button" data-item="P-01-XX-07">Rubbing</button>
                <button type="button" class="ui button" data-item="P-01-XX-08">Tapping</button>
                <button type="button" class="ui button" data-item="P-01-XX-09">Swinging</button>
                <button type="button" class="ui button" data-item="P-01-XX-10">Dressing/undressing</button>
                <button type="button" class="ui button" data-item="P-01-XX-11">Beating</button>
                <button type="button" class="ui button" data-item="P-01-XX-12">Pushing</button>
                <button type="button" class="ui button" data-item="P-01-XX-13">Kicking</button>
                <button type="button" class="ui button" data-item="P-01-XX-14">Shaking</button>
                <button type="button" class="ui button" data-item="P-01-XX-15">Picking</button>
                <button type="button" class="ui button" data-item="P-XX-XX-XX">Other</button>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui vertical fluid accordion menu">
            <div class="item">
              <a class="active title">
                <i class="dropdown icon"></i>
                Events
              </a>
              <div id="gebeurtenis" class="active content">
                <button type="button" class="ui button" data-item="E-03-XX-01">Someone enters</button>
                <button type="button" class="ui button" data-item="E-03-XX-02">Someone leaves</button>
                <button type="button" class="ui button" data-item="E-03-01-01">Radio on</button>
                <button type="button" class="ui button" data-item="E-03-01-02">Radio off</button>
                <button type="button" class="ui button" data-item="E-03-02-01">Tv on</button>
                <button type="button" class="ui button" data-item="E-03-02-02">Tv off</button>
                <button type="button" class="ui button" data-item="E-03-02-01">Loud noise</button>
                <button type="button" class="ui button" data-item="E-03-XX-03">Changing behaviour (someone else)</button>
                <button type="button" class="ui button" data-item="E-XX-XX-XX">Other</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button id="recordbutton" type="button" class="recordbutton">REC</button>
  </body>
</html>